# Папки и файлы сборки
build/
*.hex
*.elf
*.bin

# Временные файлы Arduino IDE
.build/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Для хранения секретов (например, паролей WiFi)
arduino_secrets.h
credentials.h